{# templates/base.html #}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>블로그 프로젝트</title>
</head>
    <nav style="display: flex; justify-content: space-between">
        {# 홈으로 가는 버튼 추가 #}
        <div>
            <a href="{% url "blog_list" %}">홈</a>
        </div>
        <div style="text-align: right">
            {% if request.user.is_authenticated %}
                <form action="{%  url 'logout' %}" method="POST" style="display: inline">
                    {% csrf_token %}
                    <button>로그아웃</button>
                </form>
                {{ request.user.username }}
            {% else %}
             <a href="{%  url 'login' %}">로그인</a>
            {% endif %}
        </div>
    </nav>
    {# 공통적으로 갖는 상단 네비바를 제외하고 자유롭게 변형할 수 있도록 설정 #}
    {%  block content %}{% endblock %}
</body>
</html>